#frontend
/frontend/node_modules

#Admin frontend
/admin-frontend/node_modules

#backend
/backend/.env
/backend/.htaccess
/backend/config
/backend/migrations
/backend/vendor/
/backend/composer.lock

#Data samples
/data-samples

# analytics
/analytics-service/web-fingerprint-analytic

# Security Reports
/security-reports

notes.txt